*{
    margin: 0;
}
    /*大盒子*/
#lightbox {
    margin: 0;
    height: 690px;
    /*padding: 1em 0;*/
    width: 100%;
    position: relative;
}
    /*装图片box*/
#lightbox figure{
    width: 350px;
    height: 250px;
    float: left;
    position: relative;
    margin-left: 5.5%;
    margin-top: 4%;
}
    /*图片*/
#lightbox figure > img {
    width: 350px;
    height: 250px;
}
    /*文字*/
#lightbox figure > figcaption {
    position: absolute;
    height: 50px;
    width: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    color: white;
}
#lightbox figure:hover figcaption{
    display: block;
}

    /*蒙尘提示框*/
#lightbox > .tips {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.52);
}
    /*蒙尘内的图片*/
#lightbox > .tips > .imgBig {
    width: 38%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
    /*删除按钮*/
#lightbox > .tips > .close {
    position: absolute;
    width: 3%;
    margin-top: 13%;
    margin-left: 66%;
}
    /*左边按钮*/
#lightbox > .tips > .toPre {
    position: absolute;
    width: 3%;
    margin-top: 24%;
    margin-left: 28%;
}
    /*右边按钮*/
#lightbox > .tips > .toNext {
    position: absolute;
    width: 3%;
    margin-top: 24%;
    margin-left: 69%;
}